.mould
    background-color: #F0F3F4;
    .head
        display: flex;
        justify-content: space-between;
        padding: 6px 0;
        background-color: #F8F9F8;
        align-items: center;
        .logo
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: #fff;
            margin-left: 50px;
            text-shadow: 0 0 10px #9B00EC,0 0 10px #9B00EC;
            @media (max-width: 760px)
                margin-left: 10px;
            img
                height: 20px;
                margin-left: 10px;
                margin-top: -20px;
        .btn-group
            display: flex;
            align-items: center;
            .login-info,.mould-manage
                margin-right: 10px;
                border-radius: 100px;
    .scroll
        .scroll-item
            height: 360px;
            background: url('/static/scroll1.jpg');
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            @media (max-width: 760px)
                height: 200px;
                width: 100%;
                display: flex;
                align-items: center;
            img
                margin-left: 100px;
                @media (max-width: 760px)
                    margin-left: 10%;
                    width: 80%;
    .type
        display: flex;
        align-items: center;
        height: 80px;
        background-color: #fff;
        padding-left: 0px;
        .type-bar
            background-color: #fff;
            width: 500px;
            @media (max-width: 760px)
                width: 100%;
                display: flex;
            .mu-tab-text
                color: #000;
    .content
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        .mould-item
            width: 24%;
            margin: 0.5%;
            border: solid 1px #ddd;
            background-color: #fff;
            box-shadow: 0 0 1px #ddd;
            text-align: left;
            transition: 0.3s;
            @media (max-width: 760px)
                width: 96%;
                margin: 2%;
            &:hover
                transform: translateY(-5px);
            .mu-card
                height: 100%;
                display: flex;
                flex-direction: column;
                .mu-card-media
                    overflow: hidden;
                    height: 7rem;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    img[lazy='loading']
                        min-width: 0;
                        width: 50px;
                        margin-top: 60px;
                    &
                        background-color: #eee;
                .mu-card-title
                    font-size: 20px;
                    color: #666;
                .mu-card-text
                    font-size: 16px;
                    color: #999;
                .mu-card-actions
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    border-top: solid 1px #eee;
                    justify-content: flex-end;
                    button
                        margin-right: 20px;
.login-popup
    width: 12rem;
    height: 9.5rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
.margin-right
    margin-top: 3px;     
    float: right !important;     
            
                
